
body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;
}

header, main {
    display: inline-block;
    width: 800px;
    margin-left: calc(50% - 400px);
}

header {
    margin-top: 5%;
}

header > nav { 
    float: right; 
    margin-top: 12px;  
}

header > img {
    width: 80px;
    height: 40px;
    float: left;
    object-fit: contain;
    object-position: left;
    margin: 0px;
 }

nav > a {
    text-decoration: none;
    font-size: 14px;
    line-height: 1.2em;
    margin-left: 30px;
    font-weight: 600;
    color: black;
    margin-left: 2em;
}

nav > a:first-child {
    margin-left: 0px
}

nav > a:hover{
    text-decoration: underline;
}
main {
    margin-top: 50px;
}

main > img {
    margin-top: 5%;
    width: 50%;
    float: right;
    margin: 0;
    display: block;
}

main > div {  
    float: left;
    width: 50%;
    }

.main-title { 
    display: block;
    color: #1C2D34;
    font-size: 60px;
    line-height: 1em;
    font-weight: normal;
}
.main-title::after {
    display: block;
    content: '';
    width: 140px;
    height: 4px;
    background-color: #6ABDDD;
    line-height: 2em;
}
span {
    display: block;
    color: #1C2D34;
    font-size: 60px;
    line-height: 1.1em;
    font-weight: bold;
}
div > p {
    font-size: 20px;
    color: #627073;
    font-weight: 100;
    width: 350px;
}

div > a {
    display: inline-block;   
    font-size: 12px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0.5em;
    padding-left: 2.8em;
    padding-right: 2.8em;
    background-color: #6BBEDC;
    color: #fff;
    border-radius: 1.45em;
    border: 0.10em solid #6BBEDC;
    line-height: 1.7em;
    margin-top: 10px;
    
}

div a:last-child {
    background-color: #fff;
    color: black;
    font-weight: bold;
}

div > a:hover {
    background-color: #627073;
}